html {
  height: 100%;
  background-color: #1E1E1E;
  font-family: 'Avenir Next', sans-serif;
}

body {
  background-color: black;
}

#root {
  margin: 0 auto;
  text-align: center;
  height: 100dvh;
    background-color: #1E1E1E;
  --unselectedview: #c7dff7;
  color-scheme: dark;

  
  --orange: #FF8200;
  --primaryblue: rgb(0,76,151);
  --darkblue: #1F3764;
  --lightblue: #2C4F92;
  --evenlighterblue: #4982F2;
  --darkblue: rgb(30, 75, 146);
  --gray: #dadada;
  --accentgreen: #78BE20;
  --green: #658D1B;
  --yellow: #F2A900;
  --red: #DA291C;
  --purple: #8031A7;
  --cyan: #00B0B9;
}

#dataExplainer td, th {
  padding: 10px;
}

.esri-view .esri-view-surface--touch-none:focus::after {
  outline: none !important;
}

.esri-scale-bar__label {
  padding: 0;
  color: #ffffff !important;
}

.esri-scale-bar__label {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  padding-left: 5px;
}

.esri-scale-bar__line {   
  background-color: rgba(44, 46, 49, 0.8);
  border-color: #ffffff;
  border: solid 1px #ffffff;
  border-top: 0;

}

.esri-scale-bar__line:before {
  all: unset;
}

.esri-scale-bar__line:after {
  all: unset;
}

.pw {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    pointer-events: all;
}

.pd {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pr {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 1px;
    border-style: solid;
    animation: slowRing 3.6s cubic-bezier(0.2, 0.6, 0.4, 1) infinite;
}

.pr2 {
    animation-delay: -1.8s !important;
}

.pr3 {
    animation-delay: -3.2s !important;
    border-width: 0.5px;
}

.pop-in {
  animation: pop-in 0.3s ease-out forwards;
  z-index: 1;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.pop-out {
  animation: pop-out 0.1s ease-out backwards;
}

.pop-default {
  animation: pop-out 0s backwards;
}

@keyframes pop-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slowRing {
    0%   { transform: translate(-50%, -50%) scale(1);   opacity: 0.7; }
    60%  { opacity: 0.25; }
    100% { transform: translate(-50%, -50%) scale(6.5); opacity: 0; }
}

@media (max-width: 768px) {
  .draggable { transform: translateY(var(--drag-y)); }
}

