html, body, #root {
  height: 100%;
}

#root {
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  height: 100%;
  color-scheme: dark;
}

.esri-view .esri-view-surface--touch-none:focus::after {
  outline: none !important;
}